<div id="confirmation-panel" class="panel panel-default slideDown" >
    <div class="panel-heading">
        <h4 class="panel-title">
            4. Confirmation
        </h4>
    </div>
    <div class="panel-body">
        <div class="inner-well-padding">
        <div class="alert alert-success" role="alert"><p>Your appointments were created!</p></div>      

        {{#each this}}
        <div class="alert alert-info" role="alert">
            <ul class="list-group">
                <li class="list-group-item"><strong>Start time:</strong> {{start}}</li>
                <li class="list-group-item"><strong>End time:</strong> {{end}}</li>
                <li class="list-group-item"><strong>Reason:</strong> {{category}}</li>
                <li class="list-group-item"><strong>Advisor:</strong> {{advisor}}</li>
                <li class="list-group-item"><strong>Student:</strong> {{user}}</li>
            </ul>
        </div> 
        {{/each}}

        </div>
    </div>
</div>